html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}

section {
  height: 100vh;
  padding-top: 80px;
}
